<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Batch Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../app.css">
</head>

<body>

    <div id="app">
        <h1 class="text-center bg-primary text-light p-4">Batch Generator</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-lg-2">
                    <h3 class="text-center my-1">Servers</h3>
                    <div class="form-inline my-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-primary"><i class="fas fa-plus"></i></button>
                            </div>
                            <input type="text" class="form-control" placeholder="IP Server" aria-label="IP Server"
                                aria-describedby="btnGroupAddon">
                        </div>
                    </div>
                    <div class="px-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="server1">
                            <label class="custom-control-label" for="server1">172.17.4.181</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="server2">
                            <label class="custom-control-label" for="server2">172.17.4.70</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="server3">
                            <label class="custom-control-label" for="server3">172.17.10.11</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="server4">
                            <label class="custom-control-label" for="server4">172.17.4.74</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h3 class="text-center my-1">Paths</h3>
                    <input class="form-control my-2" type="text" placeholder="Origin Path">
                    <input class="form-control my-2" type="text" placeholder="Destiny Path">
                    <input class="form-control my-2" type="text" placeholder="Log Output">
                </div>
            </div>
            <h1 class="text-center my-4">Output File</h1>
            <div class="row">
                <div class="px-1">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis tempora quisquam officia
                    recusandae quaerat quos adipisci rem totam maxime, ut cupiditate minus vitae magnam quam optio.
                    Soluta
                    corrupti ea fugit?
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-light py-2 text-center fixed-bottom">
        <span>Created by:</span> gusadolfo123@hotmail.com
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>